<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Authors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${authors}" class="container my-5">
                <div class="col-md-12">
                    <p class="my-10">
                        <a href="/authors/add" class="btn btn-primary">
                            <i class="fas fa-plus ml-2">Add Author</i></a>
                    </p>
                </div>
                <div class="col-md-12">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:if="${message}" id = "alert" class="alert alert-success" role="alert">
                        <p th:text="${message}">success message</p>
                        <script>
                            setTimeout(()=>{
                                document.getElementById("alert").style.display="none"
                            },1000)
                        </script>
                    </div>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md table-onelineHeader">
                            <thead>
                            <tr>
                                <th>Name & Surname</th>
                                <th>Bio</th>
                                <th>Birth date</th>
                                <th>Create Time</th>
                                <th>Update Time</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="author : ${authors}">
                                <td th:text="${author.firstName + ' ' + author.lastName}"></td>
                                <td th:text="${author.bio}"></td>
                                <td th:text="${author.birthDate}"></td>
                                <td th:text="${author.createDateTime}"></td>
                                <td th:text="${author.updateDateTime}"></td>
                                <td><a th:href="@{/authors/edit/{id}(id=${author.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
                                <td>
                                    <a th:href="@{/authors/delete/{id}(id=${author.id})}" class="btn btn-primary">
                                        <i class="fas fa-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>