<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Borrowers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${borrowers}" class="container my-5">
                <div class="col-md-12">
                    <p class="my-10">
                        <a href="/borrowers/add" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2"> Borrower Ekle </i></a>
                    </p>
                </div>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Ad & Soyad</th>
                                <th>Create time</th>
                                <th>Update time</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="borrower : ${borrowers}">
                                <td th:text="${borrower.userName}"></td>
                                <td th:text="${borrower.firstName + ' ' + borrower.lastName}"></td>
                                <td th:text="${borrower.createDateTime}"></td>
                                <td th:text="${borrower.updateDateTime}"></td>
                                <td><a th:href="@{/borrowers/edit/{id}(id=${borrower.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td>
                                    <a th:href="@{/borrowers/delete/{id}(id=${borrower.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>